doctype html
html(lang=config.language)
  head
    include head
    body
      div(style="visibility: hidden; width: 0; height: 0")
        img(src="https://nunchakus888.github.io/images/share-logo.jpg")
      block content
    include analysis
